---
title: My Work
layout: page
permalink: /work/
---

<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  {% for work in site.work %} {% if work.image %}
  <a href="{{work.url}}" class="no-underline">
    <img
      src="/assets/images/onepx.png"
      data-src="{{work.image}}"
      alt="{{work.title}}"
      class="lazy rounded w-full"
    />
    {% endif %}
    <h4 class="text-xl font-semibold text-center">{{work.title}}</h4>
    <p class="text-center">{{work.description}}</p>
  </a>
  {% endfor %}
</div>
