<div class="works mb-8 md:mb-16">
  <h2 class="font-bold text-xl pb-3 mb-3 border-b" data-sal="slide-up" data-sal-duration="500">
    <a href="/books/">Books I've read</a>
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6 py-3">
    {% for book in site.data.books limit: 6 %}
    <div data-sal="slide-up" data-sal-duration="500">
      <h3 class="font-semibold text-center">{{book.title}}</h3>
      <p class="text-center">by {{book.author}} </p>
    </div>

    {% endfor %}
  </div>
</div>