<!DOCTYPE html>

<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>Software Experiences by Robert Nickel</title>
    <meta name="description"
        content="Agile Software Engineering from the perspective of an Agile Advocate, Software Engineer and Things Doer.">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>

<body>
    <div class="header">
        <a href="/index.html">\\\&nbsp;Home</a>
        <a href="/blog.html">\\\&nbsp;Blog</a>
        <a href="/profile.html">\\\&nbsp;Profile</a>
        <a href="/projects.html">\\\&nbsp;Projects</a>
        <a style="float: right" href="https://ko-fi.com/robertnickel">\\\&nbsp;☕</a>
    </div>

    <div class="article-box">
        <br><br>
        {{ content }}
    </div>
    <br><br>
    <div class="footer">
        <a class="profile-comment" href="impressum.html">Impressum</a> ||
        <a class="profile-comment" href="dsgvo.html">Data Protection</a>
    </div>
</body>

</html>