<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <title>Software Experiences by Robert Nickel</title>
    <meta name="description"
        content="Agile Software Engineering from the perspective of an Agile Advocate, Software Engineer and Things Doer.">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>


<div class="content">

    <p class="heading">
        {{ page.heading }}
    </p>
    <h1 class="title">
        <a href="{{page.url}}"> {{ page.title }}</a>
    </h1>
    <p class="signature">Robert Nickel - {{ page.date | date: '%B %d, %Y' }}    🏷️ {{ page.categories | join: ', ' }}
    </p>

    {{ content }}
    <br>
    <hr>
</div>